<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asteroid-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,194}</string>
                <key>spriteSourceSize</key>
                <string>{144,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>asteroids.png</string>
            <key>size</key>
            <string>{144,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a20e51558b2ac22f91d465044c46e20:200babd97c8f674f9542d8c265f44c8f:c9503d2abe1badaea40a65c509bc397f$</string>
            <key>textureFileName</key>
            <string>asteroids.png</string>
        </dict>
    </dict>
</plist>
