<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{82,188}</string>
                <key>spriteSourceSize</key>
                <string>{84,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>rockets.png</string>
            <key>size</key>
            <string>{84,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a17714c70889686d29f1c65ba90bf81:693c8430928a9b72bb695d23ffb6c2f8:23ba688e9beedead50d7b676f3524196$</string>
            <key>textureFileName</key>
            <string>rockets.png</string>
        </dict>
    </dict>
</plist>
